<div class="section">
    <div class="container">
        <div class="hero">
        <div class="flex-center">
            <img class="hero__logo" src="/public/logo-themejs.png">
        </div>
        <h3 class="hero__title">
            Simplifique o Desenvolvimento Front-end
        </h3>
        <div class="flex-center">
            <div class="flex2 center hero__text">
                <p>
                Desfrute da liberdade de desenvolvimento sem frameworks! Renderize no servidor com rotas dinâmicas e templates modulares em HTML, CSS e JavaScript.
                </p>
                <a class="button hero__button" href="/docs/01-como-comecar">Como começar</a>
            </div>
        </div>
    </div>
    </div>
</div>